@model int

<div class="container row pt-4">
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Konfirmasi Pembayaran Berhasil!</h1>
		Nomor Pengiriman : @Model
		<br />
		<br />
		<img src="~/images/lawn_leaf.jpg" width="65%" />
		<div class="col-12 text-center" style="color maroon">
			<br />
			Pembayaran Berhasil! <br />
			<a asp-area="Admin" asp-controller="Order" asp-action="Details" asp-route-orderId="@Model", class="btn btn-primary">Kembali ke Detail Order</a>
		</div>
	</div>

</div>