@model int 

<div class="container row pt-4" >
	<div class="col-12 text-center">
		<h1 class="text-primary text-center">Konfirmasi Order Berhasil!</h1>
		Nomor Pengiriman : @Model 
		<br />
		<br />
		<img src="~/images/lawn_leaf.jpg" width="65%"/>
		<div class="col-12 text-center" style="color maroon">
			<br />
			Orderan anda berhasil diterima! <br/>
		</div>
	</div>

</div>