@page
@model LingerisWebRazor.Pages.Categories.IndexModel

<div class="container">
	<div class="row pt-4">
		<div class="col-6">
			<h2 class="text-primary">
				Category List
			</h2>
			<br />
		</div>
		<div class="col-6 text-end">
			<a asp-page="/categories/create"class="btn btn-primary">
				<i class="bi bi-bookmark-plus"></i>
				Create New Category

			</a>
		</div>

	</div>
	<table class="table table-bordered table-striped">
		<thead>
			<tr class="text-center">
				<th>Category Name</th>
				<th>Display Order</th>
				<th>Menu</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model.CategoryList.OrderBy(u => u.DisplayOrder))
			{
				<tr>
					<td>@item.Name</td>
					<td>@item.DisplayOrder</td>
					<td class="text-center">
						<div class="d-flex justify-content-center" role="group">
							<a asp-page="/categories/edit"  asp-route-id="@item.Id" class="btn btn-primary mx-2">
								<i class="bi bi-pencil"></i> Edit
							</a>
							<a asp-page="/categories/delete" asp-route-id="@item.Id" class="btn btn-danger mx-2">
								<i class="bi bi-trash"></i>Delete
							</a>
						</div>
					</td>
				</tr>
			}
		</tbody>

	</table>
</div>
